BODY {font-family: 'Headland One', serif;}

H1 {font-weight: 900;
    color:#329a62}

#bizcanvas {
  border: 3px solid black;
  width: 100%;
}

#bizcanvas td {
  vertical-align: top;
  height: 200px;
  width: 200px;
  padding: 6px;
}


#bizcanvas H4 {
  font-weight: 700;
  font-size: 1em;
   color: #0062ff;
}

#bizcanvas H5 {
  font-weight: 700;
  font-size: 0.7em;
}

#bizcanvas p {
  font-weight: 300;
  font-size: 0.8em;
}

li.LE {
  font-weight: 300;
  font-size: 0.8em;
   color: #fdbc0d;

}

li.SME {
  font-weight: 300;
  font-size: 0.8em;
   color: #05c605;

}

li.MI {
  font-weight: 300;
  font-size: 0.8em;
   color: #0062ff;

}

li.ALL {
  font-weight: 300;
  font-size: 0.8em;
   color: #f52aaf;

}


